* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: purple;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  margin: 0%;
  padding: 0%;
  border: none;
  min-height: 100vh;

}
body{
  min-height: 100vh;
}

.heading {
  background-color: purple;
  height: 15%;
  float: left;
  width: 100%;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;

}


header nav li{
  border: 2px;
  margin: 2px;
  padding: 4px;
  min-height: fit-content;
  min-width: fit-content;
}

header  nav ul  {
  text-align: left;
}

.mylist{
  padding-top: 23px;
  margin-top: -14vh;
  min-height: min-content;
  margin-left: 180px;
  display: flex;
  text-align: center;
  list-style: none;
  font-size: 1.2rem;
  justify-items: center;
  text-justify: distribute;
  list-style-position: inside;


}
header .mylist li a {
color: white;
margin: 20px 20px; 
padding: 0;
margin-left: 70px;
font-size: 1.1em;
  font-weight: bolder;
  text-align: start;
  text-decoration: none;
justify-content: center;
}
 header  ul li :hover{
  color: #ff7200;
  border: 12px;
  height: inherit;
 border-radius: auto;
}


 nav ul  li  ul  {
  position: absolute;
  width: fit-content; 
  justify-content: space-between;
  list-style: none;
  font-size: 1.1em;
  text-decoration: none;
  background-color: purple;
  color: white;
  display: none;
border-radius: 3px;
  
}


nav ul   li:hover #submenu{
  display: block;
  color: rgb(248, 179, 4);
}

li a{
  position: relative;
  margin-left:100px ;
} 

body {
  
  background: rgb(purple, grey, blue);
}
.brandlogo img{
  background-color: #fff;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left:  10px;
  border-radius: 0.5rem;
}
.welcoment {
  padding: 2em;
margin-top: 2em;
  display: flex;
  font-size: xx-large;
  color: #ff7200;
  border-radius: 0.3rem;
  background: transparent;
}
.slider wraper{
  max-width: 48rem;
  margin: 0 auto;
}
main {
  height: 90vh;
  background-color: rgba(243, 243, 243, 0.205);
  width: 100%;
}
section {
  display: grid;
}

.veryG {
  height: max-content;

  background-color: transparent;
  width: 100%;
  border-radius: 12px ;
  
}
.veryG h1 {
  padding-top: 3%;
 color: purple;
  font-size: xx-large;
  font-style: italic;
}

.veryG, p {
  text-align: center;
  font-family: Arial;
  font-weight: bolder;
  font-size: small;
}
.majorbox {
  display: flex;
  height: max-content;
  width: min-content;
  color: purple;
  padding-left:10% ;
  padding-bottom: 120px;
}

.majorbox h2 p{
  display: grid;
margin-top: 12px;
margin-right: 20px;
padding: 12px;
text-align: center;
justify-content: center;
}
.majorbox p{
  padding-top: 4%;
  padding-right: 23%;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  text-transform: none;
}
.majorbox .box1,
.box2,
.box3 {
  margin-left: 40px;
  display: grid;
}

.box1,
.box2,
.box3 {
  height: 400px;
  line-height: normal;
  border-radius: 12px;
  border-color: rgb(248, 179, 4);
  border-style: solid;
  width: 300px;
}
 .dura button {
  height: 30px;
  margin: 20px;
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
  border-radius: 0.5em;
  border-color: rgba(128, 0, 128, 0.19);
  width: 140px;
  background: transparent;
  color: rgb(248, 179, 4);
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
}
.dura > button:hover {
  background-color: purple;
  color: white;
}

.vocalplug {
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
  color: purple;
  aspect-ratio: 16/9;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem --0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.v1{
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-left: 50px;
}
.v1 h1{
  font-size: xx-large;
  color: purple;
}
.v1 h4, p{
  margin-left: 60px;
}
.vocalplug span {
  color: #ff7200;
}
.vocalplug p {
  font-size: large;
  font-family: Arial;
  font-weight: bolder;
  font-style: italic;
  text-align: start;
}
.vocalplug span {
  color: purple;
}
.prayer button {
  margin-left: 3pc;
  height: 30px;
  margin: 40px;
  text-align: center;
  margin-left: 199px;
  border-radius: 0.5em;
  border-color: rgba(128, 0, 128, 0.19);
  width: 142px;
  background: transparent;
  color: rgb(248, 179, 4);
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}

.prayer > button:hover {
  background-color: purple;
  color: white;
}
.trod{
  margin-top: 0%;
  border-radius: 12px;
  border: solid;
  border-color: #ff7200;
  padding: 2%;
}

.weekly-programs {
  display: grid;
  height: 500px;
  width: 400px;
  background-color: #c3b99e5f;
  margin-left: 890px;
  border-radius: 15px;
}
input,
.input {
  margin: 11px;
  height: 40px;
  width: 300px;
  margin-left: 50px;
  text-align: center;
}
.weekly-programs > button {
  width: 300px;
  height: 40px;
  margin-left: 50px;
  border-radius: 12px;
  border-color: aliceblue;
  background-color: #fff;
  color: #ff7200;
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
}
.weekly-programs button:hover {
  background-color: purple;
  color: #fff;
}
.lifesec{
margin-top: 12px;
padding: 30px;
display: grid;
background-color: transparent;
  text-align: center;
  font-family: monospace;
  justify-content: center;
  line-height: 1.3;
}
.lifesec h2{
  color: #989eae;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  text-transform: uppercase;
  
}
.lifesec h1{
  font-weight: bolder;
  font-size: 40px;
  color: #062e51;
  
}
.lifesec p{font-size: 17px;
  color: #63656a;

}

footer {
  background: rgba(95, 15, 95, 0.966) ;
  margin-top: 3%;
  padding-top:19px ;
  margin-bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
 
  
}


.brandlog{
  background-color: #fff;
  margin-top: 33px;
  margin-bottom: 3px;
  margin-left:  -29pc;
  border-radius: 0.5rem;
  
}
.address{
  display:grid;
  margin-left: 7pc;
  text-align: center;
  color: #fff;
  justify-content: center;
  padding-top: 31px;
}

.address p{
  padding-top:10%;
padding-bottom: 40px;
padding-left: 90px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-left: -32pc;
}

 .socialmedia   {
  cursor: pointer;
  list-style: none;
  color: #fff;
  display: inline-flex;
  grid-area: span;
  margin-right: -40px;
 
}
 
.socialmedia a{
  padding: 0%;
 
}
.socialmedia img{
  height: 1.8rem;
}

footer>icons{
  flex-direction: column;
} 

/* section{
  .box1:hover{
    transform: translateY(-3px)
  }
  .box2:hover{
    transform: translateY(-3px)
  }
  .box3:hover{
    transform: translateY(-3px)
  }
} */
 